.homeService {
}

.homeService__container {
  flex-direction: column;
  gap: 48px;
}

.homeService__container_title {
  color: var(--Colors-Neutral-01, #181818);
  text-align: center;
  font-size: 36px;
  font-style: normal;
  font-weight: 400;
  line-height: 125%;
}

.homeService__contents {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 24px;
  align-self: stretch;
}

@media screen and (max-width: 768px) {
  .homeService__contents {
    scroll-snap-type: x mandatory;
    overflow-x: scroll;
    -webkit-overflow-scrolling: touch;
    gap: 16px;
    &::-webkit-scrollbar {
      display: none;
    }
  }

  .homeService__contents_item_1,
  .homeService__contents_item_2,
  .homeService__contents_item_3 {
    scroll-snap-align: center;
    flex-shrink: 0;
  }
}

.homeService__contents_item_1,
.homeService__contents_item_3 {
  width: 400px;
  height: 650px;
  position: relative;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;

  @media screen and (max-width: 768px) {
    width: 267px;
    height: 348px;
  }
}

.homeService__contents_item_1 {
  background-image: url("../../../../public/images/homeService1.png");
}
.homeService__contents_item_3 {
  background-image: url("../../../../public/images/homeService3.png");
}

.homeService__contents_item_2 {
  width: 400px;
  height: 720px;
  position: relative;
  background-image: url("../../../../public/images/homeService2.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;

  @media screen and (max-width: 768px) {
    width: 287px;
    height: 412px;
  }
}

.item_text {
  display: flex;
  width: 339px;
  flex-direction: column;
  align-items: flex-start;
  gap: 17px;
  padding: 16px;
  position: absolute;
  right: 30px;
  bottom: 56px;
  @media screen and (max-width: 768px) {
    width: 100%;
    right: 0;
    bottom: 16px;
  }
}

.item_text h3 {
  color: var(--white);
  font-size: 32px;
  font-style: normal;
  font-weight: 400;
  line-height: 125%;

  @media screen and (max-width: 768px) {
    font-size: 24px;
  }
}
.item_text p {
  color: var(--white);
  font-size: 16px;
  font-style: normal;
  font-weight: 300;
  line-height: 150%;

  @media screen and (max-width: 768px) {
    font-size: 14px;
  }
}
