.footer {
  padding-bottom: 3rem;
}
.footer__container {
}

.footer__header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  & svg {
    width: 134px;
    height: 104px;
  }
}

.footer__header-company {
  color: var(--neutral-000);
  text-align: center;
  font-family: var(--font-nanum-myeongjo);
  font-size: 32px;
  font-style: normal;
  font-weight: var(--font-regular);
  line-height: 125%;
  letter-spacing: 9.72px;
  text-transform: uppercase;

  @media screen and (max-width: 768px) {
    font-size: 24px;
    letter-spacing: 6.72px;
  }
}

.footer__carousel {
  display: flex;
  overflow-x: auto;
  scroll-snap-type: x mandatory;
  -webkit-overflow-scrolling: touch;
  margin: 64px 0 32px;
  &::-webkit-scrollbar {
    display: none;
  }
}

.footer__carousel-item {
  flex: 0 0 auto;
  width: 280px;
  height: 400px;
  min-width: 280px;
  margin-right: 10px;
  background-color: #ccc;
  scroll-snap-align: center;
  border-radius: 5px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.footer__links {
  display: flex;
  justify-content: space-between;
  gap: 32px;

  @media screen and (max-width: 768px) {
    flex-direction: column;
    align-items: center;
  }
}

.footer__links-social {
  display: flex;
  & li > a {
    color: var(--white);
    background-color: transparent;
    border-radius: 100%;
    display: flex;
    padding: 10px;
    justify-content: center;
    align-items: center;
    gap: 8PX;
    transition: background-color 0.5s ease-in-out;

    &:hover {
      border-radius: 100%;
      background: rgba(86, 86, 86, 0.2);
    }
  }
}

.footer__links-social svg {
  width: 18px;
  height: 18px;
  & path {
    fill: var(--neutral-000);
  }
}

.footer__group {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 200px;
  @media screen and (max-width: 768px) {
    gap: 32px;
  }
}

.footer__link-link {
  color: #211d1d;
  font-family: var(--font-lato);
  font-size: 16px;
  font-style: normal;
  font-weight: var(--font-light);
  line-height: 150%;
  transition: text-decoration 0.5s ease-in-out;

  @media screen and (max-width: 768px) {
    text-align: center;
    font-size: 12px;
  }
}

.footer__link-link:hover {
  text-decoration: underline;
}

.footer__link-text {
  color: #211d1d;
  font-family: var(--font-lato);
  font-size: 16px;
  font-style: normal;
  font-weight: var(--font-light);
  line-height: 150%;
  @media screen and (max-width: 768px) {
    text-align: center;
    font-size: 12px;
  }
}
